h1 span {
    color: #0277bd;
}

.backdrop {
    background-size: cover;
    height: 99%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


#social {
    /*margin: 40px 20px;*/
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 25px;
}

.socialicon .fa {
    color: #607D8B;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-bottom: 20px;*/
}

.socialicon .fa:hover {
    opacity: .7;
    transition: all .3s ease-in-out; 
    transform: scale(1.2);
}

.img-responsive.img-circle{
    /*width: 600px;
    height: 600px;*/
    width: 20em;
    border-radius: 100%;
    border: 1px solid #607D8B;
    /*opacity: 1.0 !important;*/
    display: block;
    margin: 0 auto;
}

@media(max-width:768px) {
    .img-responsive.img-circle{
        width: 15em;
    }
    .intro {
        height: 100%;
        padding: 0;
    }
    .socialicon .fa {
        color: #607D8B;
        margin-right: 10px;
        margin-left: 10px;
        /*margin-bottom: 20px;*/
    }

}


.team-member {
    text-align:left;
}
.team-member img {
    /*width: 10em;*/
    display:block;
    margin:0 auto;
}
.team-member h3 {

}


body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    color: black;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0 35px;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-align:center;
    color: black;
}



a {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    target: _blank;
    color: #0277bd;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    /*color: #1d9b6c;*/
    opacity: 0.9;
}

@media(max-width:768px) {
    .navbar-custom a {
        font-size: 24px;
        color: #000;
    }

    .navbar-custom .fa {
        color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(0,0,0,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    /*background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url(../img/boston.jpg) no-repeat bottom center scroll;*/
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#intro:after {
    opacity: 0.5;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}


@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 5em;
    }
 
    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}
